@using Microsoft.AspNetCore.Identity
@using mvc_surfboard.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
     @if (User.IsInRole("Admin"))
        {
            <li class="nav-item">
                <a 
                    class="nav-link text-dark" 
                    asp-area="" 
                    asp-controller="Surfboards"
                    asp-action="List"
                >
                    Surfboards
                </a>
            </li>
        }
        <li class="nav-item">
            <a class="nav-link text-dark"
           asp-area=""
           asp-controller="Rentals"
           asp-action="Index">
                Bookings
            </a>
        </li>
        <div class="vr"></div>
        <div class="btn-group">
            <a class="nav-link app-text dropdown-toggle align-middle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
@*                    @UserManager.GetUserAsync(User).Result.FirstName
                    @if (User.IsInRole("Admin"))
                    {
                        <span class="badge rounded-pill bg-danger">Admin</span>
                    } else if (User.IsInRole("User"))
                    {
                        <span class="badge rounded-pill bg-dark">User</span>
                    }*@
            </a>
            <div class="dropdown-menu dropdown-menu-end">
                <h6 class="dropdown-header">@UserManager.GetUserName(User)</h6>
                <a 
                    id="manage" 
                    class="dropdown-item" 
                    asp-area="Identity" 
                    asp-page="/Account/Manage/Index"
                    title="Manage"
                >
                    Settings
                </a>
                <div class="dropdown-divider"></div>
                <form 
                    id="logoutForm" 
                    class="form-inline dropdown-item" 
                    asp-area="Identity" 
                    asp-page="/Account/Logout" 
                    asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })"
                >
                    <button 
                        id="logout" 
                        type="submit" 
                        class="app-button"
                    >
                        Logout
                    </button>
                </form>
            </div>
        </div>
}
else
{
    <li class="nav-item">
        <a 
            class="btn btn-light me-2 block" 
            id="login" 
            asp-area="Identity" 
            asp-page="/Account/Login"
        >
            Login
        </a>
    </li>
    <li class="nav-item">
        <a 
            class="btn btn-dark" 
            id="register" 
            asp-area="Identity" 
            asp-page="/Account/Register"
        >
            Sign Up
        </a>
    </li>
}
</ul>

<script>
    $(document).ready(function () {
        $('.dropdown-toggle').dropdown();
    });
</script>