@model IEnumerable<mvc_surfboard.Models.Surfboard>

@{
    ViewData["Title"] = "Udlejning";
}

<div class="container">
    <h1>Udlejning</h1>

    <div class="row row-cols-1 row-cols-md-4 g-4">
        @foreach (var item in Model)
        {
            <div class="col">
                <div class="card">
                    @if (!string.IsNullOrEmpty(item?.ImgUrl))
                    {
                        <div class="square-image-container">
                            <img src="@item.ImgUrl" class="square-image img-fluid" alt="Surfboard Image" />
                        </div>
                    }
                    else
                    {
                        <img src="https://media.istockphoto.com/id/1147544807/vector/thumbnail-image-vector-graphic.jpg?s=612x612&w=0&k=20&c=rnCKVbdxqkjlcs3xH87-9gocETqpspHFXu5dIGB4wuM=" class="card-img-top" alt="No Image" />
                    }
                    <div class="card-body">
                        <h5 class="card-title">@item.Name</h5>
                    </div>
                    <div class="card-footer align-items-end d-flex justify-content-between">
                        <h5>
                            DKK @item.Price<br />
                        </h5>
                         <a asp-action="Rent" asp-route-id="@item.Id" class="btn btn-dark">Book</a>
                    </div>
                </div>
            </div>
        }
     </div>
</div>
